#h1{
	text-align:center;
	margin-right: 5%;
	font-family:'Gill Sans';
}
.thumbnail{
	padding-right: 10%;
    padding: 1px;
	border-radius: 10%;
	max-block-size: 180px;
	min-block-size: 180px;
	opacity: 50%;
}
body{
	background-color: #16A085;
}
/*Divide into two columns*/

.column { 
	float: left; 
}

.first { 
	width: auto; 
	padding: 30px;
}

.second { 
	float: right; 
	width: 50%;
	padding-top: 30px;
}

/*drop down list*/

.combo-box {
	border: 1;
    color:#008080;
    font-size: 1em;
    padding: 7px;
    width: 170px;
    height: 40px;
}

#expandedImg{
	padding-left: 1%;
	max-block-size: 600px;
	min-block-size: 600px;
}
.container{
	background-size: 100%;
	border: 100%;
	overflow: hidden;
	text-align:justify;
	text-justify:auto;
	margin-right: 1%;
}
 


#description{
	padding-left:30px;
	font-size:1.8em;
	font-weight:300px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: justify;
	text-justify:auto;
	margin-right: 5%;
	}