body{
    background: linear-gradient(to right, #1d976c, #93f9b9);
}
.pageEditor_container{
    margin: 4rem 16rem;
    padding: 30px 0;
    text-align: center;
    background-color: #d4e9e4;
    border-radius: 25px;
    box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.641);
}
/*editing the image*/
.img_container{
    border: 1px solid black;
    width: 20%;
    height: 13rem;
    margin-left: 25vw;
    border-radius: 50%;
    overflow: hidden;
}
.pageEditor_container img{
    width: 100%;
    height: 13rem;
}
/*-----text------*/
.pageEditor_container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 25px 0 0 0;
}
.pageEditor_container p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 8px 0;  
}
/*-------button-------*/
.pageEditor_container a{
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.pageEditor_container a:hover{
    box-shadow: 3px 3px 10px black;
    transition: all 500ms ease;
}